@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{

--clr-light-red: hsl(0, 100%, 67%);
--clr-light-red-bg: hsla(0, 100%, 67%, var(--bg-opacity));
--clr-orangey-yellow: hsl(39, 100%, 56%);
--clr-orangey-yellow-bg: hsla(39, 100%, 56%, var(--bg-opacity));
--clr-green-teal: hsl(166, 100%, 37%);
--clr-green-teal-bg: hsla(166, 100%, 37%, var(--bg-opacity));
--clr-cobalt-blue: hsl(234, 85%, 45%);
--clr-cobalt-blue-bg: hsla(234, 85%, 45%, var(--bg-opacity));
--clr-white: hsl(0, 0%, 100%);
--clr-pale-blue: hsl(221, 100%, 96%);
--clr-light-lavender: hsl(241, 100%, 89%);
--clr-dark-gray-blue: hsl(224, 30%, 27%);
--clr-light-gray-blue: hsla(224, 30%, 65%, 0.5);
--shadow: hsla(224, 30%, 27%, 0.1);
--clr-light-slate-blue:hsl(252, 100%, 67%);
--clr-light-royal-blue: hsl(241, 81%, 54%);
--clr-violet-blue: hsla(256, 72%, 46%, 1);
--clr-persian-blue: hsla(241, 72%, 46%, 0);
--clr-gradient-blue: linear-gradient(var(--clr-cobalt-blue),transparent);
--clr-gradient-blue__btn: linear-gradient(0deg, var(--clr-cobalt-blue), var(--clr-light-slate-blue));
--bg-opacity: 0.05;
--rounded: 10px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    font-size: 18px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    letter-spacing: 0.05rem;
}
.container{
    width: 44em;
    display: flex;
    gap: 1em;
    box-shadow: 2px 2px 20px var(--shadow);
    border-radius: calc(var(--rounded)*4);

}
.col{
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    padding: 2rem 2.5rem;
    justify-content: start;
}
.result{
    background: var(--clr-light-slate-blue);
    border-radius: calc(var(--rounded)*4);
    color: var(--clr-light-lavender);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.result__score{
    aspect-ratio: 1;
    width: 10em;
    border-radius: 50%;
    background: var(--clr-gradient-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result__score h1{
    font-size: 4rem;
    font-weight: 800;
    color: var(--clr-white);
}
.result p{
    font-size: .8rem;
}
.result h3{
    font-size: 1.2rem;
    font-weight: normal;
}
.result__label{
    color: var(--clr-white);
}

.summary{
    background-color: var(--clr-white);
    color: var(--dark-gray-blue);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    border-radius: calc(var(--rounded)*4);
}
.summary h1{
    align-self: flex-start;
}
.summary__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.summary__list li{
    background-color: var(--pale-blue);
    padding: 1em;
    display: flex;
    border-radius: var(--rounded);
    justify-content: space-between;
    align-items: center;
}
.summary__list .reaction{
    color: var(--clr-light-red);
    background-color: var(--clr-light-red-bg);
}
.summary__list .verbal{
    color: var(--clr-green-teal);
    background-color: var(--clr-green-teal-bg);
}
.summary__list .visual{
    color: var(--clr-cobalt-blue);
    background-color: var(--clr-cobalt-blue-bg);
}
.summary__list .memory{
    color: var(--clr-orangey-yellow);
    background-color: var(--clr-orangey-yellow-bg);
}
.summary_score{
    color: var(--clr-light-gray-blue);
}
.summary_score span{
    font-weight: bold;
    margin-right: .5em;
    color: var(--clr-dark-gray-blue);
}
.summary_score p{
    
}
.summary__list li h4{
    margin-right: auto;
}
.summary__list li img{
    margin-right: .5rem;
}
.btn{
    background-color: var(--clr-dark-gray-blue);
    width: 100%;
    padding: 1em;
    border-radius: calc(var(--rounded)*4);
    color: var(--clr-white);
    text-decoration: none;
}
.btn:hover,
.btn:active{
    background: var(--clr-gradient-blue__btn);
}

@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .container{
        width: 100vw;
        flex-direction: column;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 1rem;
    }
    .col{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

}